.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Searchbar*/

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  background-color: #f0f0f0;
  padding: 4px;
}

.search-bar .MuiInputBase-root {
  border-radius: 50px;
  background-color: white;
  padding: 4px 12px;
  transition: background-color 0.3s ease;
}

.search-bar .MuiInputBase-root:hover {
  background-color: #e0e0e0;
}
.recent-searches {
  margin-top: 20px;
  text-align: left;
}

.recent-searches h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.recent-searches ul {
  list-style: none;
  padding: 0;
}

.recent-searches li {
  font-size: 1rem;
  margin-bottom: 5px;
}
.favorites {
  margin-top: 20px;
  text-align: left;
}

.favorites h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.favorites ul {
  list-style: none;
  padding: 0;
}

.favorites li {
  font-size: 1rem;
  margin-bottom: 5px;
}